/* Set the foreground color for the body */
body {
    color: #161616;
}

/* Set the foreground color for all anchor elements */
a {
    color: #161616;
}

/* Hide elements with the class visually-hidden */
.visually-hidden {
    display: none;
}

/* Set the foreground color for elements with the class card-category */
.card-category {
    color: #D73953;
}

/* Set the foreground color for elements with the class section-tagline */
.section-tagline {
    color: #D73953;
}
