/* Target the root element and define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Reset color for elements with the class section-tagline */
.section-tagline {
    color: var(--color-primary);
}

/* Reset color for elements with the class card-category */
.card-category {
    color: var(--color-primary);
}

/* Reset color for the body */
body {
    color: var(--text-color);
}

/* Reset color for all anchor elements */
a {
    color: var(--text-color);
}
