/* Targeting the root element to update custom font-family properties */
:root {
    --font-family-base: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* Set body‘s font-family to font-family-base */
body {
    font-family: var(--font-family-base);
}

/* Set font-family for all 6 levels of section headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}

