/* Targeting the root element to create custom properties for line heights */
:root {
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
}

/* Set the minimum height of line boxes in the body to line-height-base */
body {
    line-height: var(--line-height-base);
}

